body {
    background-image: url(img/fondoPantalla.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional: fija el fondo en su lugar */
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.monto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    width: 20%;
    height: 25px;
}


.contenedor {
    position: relative;
}

.calcular {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    width: 11%;
    height: 25px;
    position: absolute;
    top: 55px;
    left: 595px;
    background-color: rgba(200, 33, 33, 0);
}

.calcularIVA {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    width: 20%;
    height: 35px;
}
