body {
    background-image: url(img/fondoPantalla.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.monto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    width: 20%;
    height: 25px;
}


.contenedor {
    position: relative;
}

section[calculadorimg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
  }
  
  .calcular {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: rgba(200, 33, 33, 0);
    position: absolute;
    top: 13%;
    left: 50%; /* Alinea horizontalmente al centro */
    transform: translate(-50%, -50%); /* Centra el elemento en sí mismo */
  }
  
  img {
    width: 150px; /* Ajusta el ancho de la calculadora según tus preferencias */
  }
  

.calcularIVA {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    width: 20%;
    height: 35px;
}
