body {
    font-size: 16px;
}


@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image-text h1,
.image-text h2,
.image-text h3 {
    color: #faf6f6; 
    animation: parpadeo 2s infinite; 
}

.image-text h1:hover,
.image-text h2:hover,
.image-text h3:hover {
    color: #19e6db; 
    animation: none; 
}


.image-section {
    position: relative;
    text-align: center;
}


.image-section img {
    max-width: 100%; 
    height: auto;
    position: relative; 
    z-index: 0; 
}

.image-text {
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
}


.image-text h4 {
    margin: 0; 
    font-size: 24px; 
}


.image-text p {
    font-size: 16px; 
}


@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}


img {
    max-width: 100%;
    height: auto;
}
